.searchbar{
    background-color:#fff;
    color:#444;
    height: 1rem;
    box-shadow: 0px 3px 5px #aaa;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    .search-box{
        font-size: 0.3rem;
        margin: 0;
        height: 1rem;
        text-align: center;
        line-height: 1rem;
        input{
            font-family: "Microsoft YaHei";
            width:90%;
            padding:0.15rem 0.3rem;
            border:none;
            border-radius: 0.4rem;
            background-color:#eee;
            text-align: center;
        }
    }
    .left-button{
        height: 1rem;
        line-height: 1rem;
        width:1rem;
        .icon-back{
            padding-left: 0.2rem;
            font-size: 0.5rem;
        }
    }
    .right-button{
        height: 1rem;
        line-height: 1rem;
        width:1rem;
    }
}